{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="min-h-screen flex items-center justify-center p-8"
     style="background : linear-gradient(135deg, rgba(25,25,112,1) 0%, rgba(29,185,253,1) 50%, rgba(178,102,255,1) 100%); background-size: cover; background-position: center;">
  
  <div class="w-full max-w-md bg-white bg-opacity-50 backdrop-filter backdrop-blur-lg rounded-lg shadow-lg p-8">
    <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">Weather Report</h1>
    <form action="{% url 'report' %}" method="post" class="flex flex-col space-y-6">
      {% csrf_token %}
      <div class="flex flex-col">
        <label for="city" class="text-gray-700 font-medium mb-2 text-center">Enter City Name</label>
        <input type="text" id="city" name="city" required
               class="w-full text-center px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800"
               placeholder="New York">
      </div>
      <button type="submit"
              class="w-full py-2 rounded-full bg-blue-600 text-white font-semibold hover:bg-blue-700 transition duration-300">
        Get Report
      </button>
    </form>
  </div>
  
</div>
{% endblock content %}
